# `enumerate`

`enumerate` returns a `tuple` of `index` and `value` from a sequence.

In [1]:
my_list = list(range(0, 20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
print("index", "\tvalue")
for i, v in enumerate(my_list):
    print(i , '\t', v)

index 	value
0 	 0
1 	 1
2 	 2
3 	 3
4 	 4
5 	 5
6 	 6
7 	 7
8 	 8
9 	 9
10 	 10
11 	 11
12 	 12
13 	 13
14 	 14
15 	 15
16 	 16
17 	 17
18 	 18
19 	 19

It is common when iterating over a sequence to want to keep track of the index of the current item. The following would be a verbose approach:

In [3]:
i = 0
for value in range(0, 20):
    while i < 5:
        print(value)
        i += 1
        break

0
1
2
3
4

Since the above is a common scenario, Python has the built-in `enumerate` function which can be used to do the same thing:

In [4]:
for i, value in enumerate(range(0, 20)):
    while i < 5:
        print(value)
        break

0
1
2
3
4

*Remember: range(0, 20) is a sequence just like lists and tuples but is **not** a list.*

In [5]:
my_tuple = tuple(range(0, 10))
print("index", "\tvalue")
for i, v in enumerate(my_tuple):
    print(i , '\t', v)

index 	value
0 	 0
1 	 1
2 	 2
3 	 3
4 	 4
5 	 5
6 	 6
7 	 7
8 	 8
9 	 9

**Another useful situation where enumerate can be useful is when mapping the index of an element in a list with the element itself and creating a `dict` like structure.**

In [6]:
ingredients = ['spam', 'eggs', 'ham', 'cheese']

In [7]:
mapping = {}

In [8]:
for index, value in enumerate(ingredients):
    mapping[value] = index

In [9]:
mapping

{'spam': 0, 'eggs': 1, 'ham': 2, 'cheese': 3}

# `sorted`

The sorted function returns a new sorted list from the elements of any sequence.

In [10]:
sorted([7, 1, 88, 2, 0, 20, 11, 5])

[0, 1, 2, 5, 7, 11, 20, 88]

This function is described in more details [here](/notebooks/01.%20Data%20Structures%20and%20Comprehensions/1.%20Lists.ipynb#Sorted)

# `zip`

`zip` “pairs” up the elements of. a number of lists, tuples, or other sequences to create a list of tuples.

In [11]:
my_list = ['spam', 'eggs']

In [12]:
another_list = ['ham', 'cheese']

In [13]:
zipped = zip(my_list, another_list)

In [14]:
zipped_list = list(zipped)

In [15]:
zipped_list

[('spam', 'ham'), ('eggs', 'cheese')]

`zip` can take an arbitrary number of sequences, and the number of elements it produces is determined by the shortest sequence.

In [16]:
yet_another_list = ['he', 'is', 'pining', 'for', 'the', 'fjords', 'sir']

In [17]:
zipped_all = list(zip(my_list, another_list, yet_another_list))

In [18]:
zipped_all

[('spam', 'ham', 'he'), ('eggs', 'cheese', 'is')]

`zip` can be used to assign two lists, one containing for example a list of students and their corresponding scores in an exam:

In [19]:
students = ['John Cleese', 'Terry Gilliam', 'Eric Idle', 'Michael Palin', 'Graham Chapman', 'Terry Jones']

In [20]:
scores = [98, 92, 93, 85, 97, 88]

In [21]:
students_and_their_results = list(zip(students, scores))

In [22]:
students_and_their_results

[('John Cleese', 98),
 ('Terry Gilliam', 92),
 ('Eric Idle', 93),
 ('Michael Palin', 85),
 ('Graham Chapman', 97),
 ('Terry Jones', 88)]

### `zip` and `enumerate`

One of the most common uses of `zip` is when iterating over a sequence, possibly in combination with `enumerate`.

In [23]:
for index, value in enumerate(zip(my_list, another_list)):
    print(f"{index}: {value}")

0: ('spam', 'ham')
1: ('eggs', 'cheese')

In [24]:
for index, (value1, value2) in enumerate(zip(my_list, another_list)):
    print(f"{index}: {value1}, {value2}")

0: spam, ham
1: eggs, cheese

In [25]:
for index, (student, score) in enumerate(zip(students, scores)):
    print(f"{student}: {score}")

John Cleese: 98
Terry Gilliam: 92
Eric Idle: 93
Michael Palin: 85
Graham Chapman: 97
Terry Jones: 88

### "Unzipping" a zipped sequence

Given a “zipped” sequence, zip can be applied in a clever way to “unzip” the sequence. Another way to think about this is converting a list of rows into a list of columns.

In [26]:
pythons = [('John', 'Cleese'), ('Eric', 'Idle'), ('Michael', 'Palin')]

In [27]:
first_names, last_names = zip(*pythons)

In [28]:
first_names

('John', 'Eric', 'Michael')

In [29]:
last_names

('Cleese', 'Idle', 'Palin')

# `reversed`

`reversed` iterates over the elements of a sequence in reverse order. **`reversed` is a generator like `range`!** It does not create the reversed sequence until materialized (e.g., with `list` or a `for loop`).

In [30]:
reversed(first_names)

In [31]:
list(reversed(first_names))

['Michael', 'Eric', 'John']

# `filter`

`filter` applies a specific `function` on one or more `iterable` objects and returns a `filter` object. This is useful for filtering out elements that match a certain condition.

In [32]:
products = [
    ("Landrover Lace-up boots", 39.99),
    ("AM Shoe Leder Schneesteifel", 69.99),
    ("Forclaz Handschuh", 6.99)
]

In [41]:
filtered_items = filter(lambda item: item[1] > 10, products) 
# lambda function to find the price of each item and checking if it is over €10

**Tutorial to lambda functions can be found [here](/notebooks/03.%20Functions_/3.%20Lambda%20Functions.ipynb)**

In [34]:
filtered_items

In [35]:
filtered_items = list(filtered_items)

In [36]:
filtered_items

[('Landrover Lace-up boots', 39.99), ('AM Shoe Leder Schneesteifel', 69.99)]

# `map`

`map` applies a specific `function` on one or more `iterable` objects and returns a `map` object. This is useful for finding out specific information about a dataset. 

In the following example, we only want to find out the prices of the following products:

In [37]:
prices = list(map(lambda item: item[1], products))

In [38]:
prices

[39.99, 69.99, 6.99]

In this following example, we only want to find out the names of each product:

In [39]:
names = list(map(lambda name: name[0], products))

In [40]:
names

['Landrover Lace-up boots', 'AM Shoe Leder Schneesteifel', 'Forclaz Handschuh']